.img-principal {
    width: 350px;
    height: 500px;
}

.img-secundaria {
    width: 75px;
    height: 75px;
}

.tallas {
    font-weight: 700;
    text-transform: uppercase;
    font-size: larger;
}

.boton {
    margin: 5px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.fav {
    background-color: black;
    color: white;
}