.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 0 15px ;
    background-color: rgb(241, 58, 58);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}